:root {
  --orange: hsl(26, 92%, 50%);
  --orange-dark: hsl(26, 98%, 41%);
  --dark-dark-blue: hsl(245, 66%, 23%);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: #70A1FF;
  font-family: 'Questrial', sans-serif;
  background-image: -webkit-radial-gradient(#97b0de, #5188f0);
  background-image: -o-radial-gradient(#97b0de, #5188f0);
  background-image: radial-gradient(#97b0de, #5188f0);
}

.page-background {
  background: url('../images/orange_abstract_flowers.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment:fixed;
  background-size: cover;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

li {
  margin-bottom: .5rem;
}

article {
  height: 100%;
  min-height: 965px;
}

.title {
  margin: 0;
  font-size: 4rem;
  text-align: center;
  color: hsl(26, 92%, 50%);
  color: var(--orange);
  font-family: 'Lato', sans-serif;
  text-shadow: 1px 1px 0 var(--dark-dark-blue),
              2px 2px 0 var(--dark-dark-blue),
              3px 3px 0 var(--dark-dark-blue),
              4px 4px 0 var(--dark-dark-blue),
              5px 5px 0 var(--orange-dark),
              6px 6px 0 var(--orange-dark),
              7px 7px 0 var(--orange-dark),
              8px 8px 0 var(--orange-dark),
              9px 9px 0 var(--dark-dark-blue),
              10px 10px 0 var(--dark-dark-blue),
              11px 11px 0 var(--dark-dark-blue);
}

.description {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 700px;
  font-weight: bold;
}

.description__text {
  text-align: justify;
  margin-bottom: 1rem;
}

.survey-form {
  width: 96%;
  margin: 0 auto;
  max-width: 700px;
  font-family: 'Questrial', sans-serif;
}

.survey-form input[type="text"],
.survey-form input[type="email"],
.survey-form input[type="number"] {
  width: 100%;
  height: 50px;
  display: block;
  margin: 0 auto;
  font-family: inherit;
  margin-bottom: 1.2rem;
  padding: .35rem .85rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #303030;
}


.skill-level,
.favorite-os,
.hardware {
  font-weight: bold;
}

.hardware {
  margin-top: 1rem;
}

.hardware-list li {
  margin-bottom: 1.1rem;
}

select {
  height: 50px;
  display: block;
  margin-bottom: 1rem;
  padding: .35rem .85rem;
  border: 2px solid #303030;
  font-family: 'Questrial', sans-serif;
}

textarea {
  width: 100%;
  margin-bottom: 1rem;
  font-family: inherit;
  padding: .85rem .85rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFFFFF;
  border: 2px solid #303030;
}

button {
  width: 100%;
  height: 50px;
  color: #101010;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 2px;
  border-top: 2px solid #232323;
  border-left: 2px solid #232323;
  border-right: 4px solid #232323;
  border-bottom: 4px solid #232323;
  background-color: hsl(26, 92%, 50%);
  background-color: var(--orange);
  -webkit-box-shadow: inset -4px -4px 0 var(--orange-dark);
          box-shadow: inset -4px -4px 0 var(--orange-dark);
}

button:hover {
  border-top: 4px solid #232323;
  border-left: 4px solid #232323;
  -webkit-box-shadow: inset 0 0 0 hsl(205, 92%, 36%);
          box-shadow: inset 0 0 0 hsl(205, 92%, 36%);
}

footer {
  height: 100px;
  padding: 1rem 0;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 100px;
}

.footer-text {
  margin: 0;
  text-align: center;
}

.footer-link {
  border-bottom: 2px solid hsl(26, 92%, 50%);
  border-bottom: 2px solid var(--orange);
}
